h1 {
    color:#2a2a2a;
}

.instagram-log {
    float: right;
    background-color: white;
    border: none;
    color: #7f0000;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.instagram-button {
    font-size: 20px;
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 40em;
}

input {
    font-size: 16px;
    border-radius: 5px;
    color: black;
    border-style: solid;
    border-color: #7f0000;
}

.button {
    background-color: #7f0000;
    border: none;
    color: white;
    padding: 3px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}