<html>
<head>
  <meta charset="UTF-8">
  <title>Restaurant Finder</title>
</head>
<body>
  Signup
  <form method='POST' action='/submitQuery'>
    <input city="city" type="text" placeholder="city"></input>
    <input name="results" type="number" placeholder="number"></input>
    <input type='submit' value='Search Yelp'></button>
    <br>
    <br>
  </form>
</body>
</html>