<html>
<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>Restaurant Finder</title>
</head>
<body>
   <br>
   <br>
    <div class="container">

      <h1>City Search</h1>
      <form method='POST' action='/submitQuery'>
        <input name="city" value="" type="text" placeholder="city"></input>
        <input name="results" value='' type="text" placeholder="business category"></input>
        <input class="button" type='submit' value='Search'></button>
        <br>
        <br>
      </form>  
      </div>
</body>
</html>