<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>Restaurant Finder</title>
</head>
<body>

   <form class="instagram-log" method='GET' action='/auth/instagram'>
    <input class="instagram-log" type='submit' value='Login with Instagram'></button>
   </form>

   <br>
   <br>

<div class="container">

  <h1>Enter a City Name</h1>
  <form method='POST' action='/submitQuery'>
    <input name="city" value="New York, New York" type="text" placeholder="city"></input>
    <input name="results" value='food' type="text" placeholder="food"></input>
    <input class="button" type='submit' value='Search'></button>
    <br>
    <br>
  </form>  
  </div>


</body>
</html>